# Object files
*.o
*.ko
*.obj
*.elf
# Precompiled Headers
*.gch
*.pch
# Libraries
*.lib
*.a
*.la
*.lo
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

scpi-server/scpi-server

# Eclipse
.cproject
.project
.settings

# SCPI Server examples
scpi-server/3rdparty/libs/scpi-parser/examples/

# FPGA results
fpga/bd/system/ip/**/*.xml
fpga/bd/system/ip/**/*.upgrade_log
fpga/ip/.Xil
fpga/red-pitaya_radio-box.cache
fpga/red-pitaya_radio-box.hw
fpga/red-pitaya_radio-box.runs
fpga/red-pitaya_radio-box.sim
fpga/vivado*

# Results of building process
apps-contrib/build/
apps-contrib/radiobox/doc/RedPitaya_RadioBox_Development_Manual.pdf
apps-contrib/radiobox/doc/html
apps-contrib/radiobox/doc/latex
apps-free/build/
/Bazaar
/OS/buildroot/buildroot-*
/tmp

# Editors
*~

# Mac-OS-X
.DS_Store
._.DS_Store

