.navbar-radiobox {
}

.bg-grad {
  position:relative;
  z-index:0;
  background:linear-gradient(#004060 20%, #001040 80%);
  height:800px;
}

.form-bg-osc1 {
  background:#402010;
}

.form-bg-osc2 {
  background:#002050;
}

.table-toolbox {
  border:1px solid;
  margin-left:15px;
}

.table-toolbox td {
  //width:400px;
}

.table-header {
  font-size:200%;
  padding-left:10px;
  padding-bottom:15px;
}


#osc1_amp {
  position:relative;
  z-index:1;
}

#osc1_modtyp {
  position:relative;
  z-index:1;
}

#osc1_modsrc {
  position:relative;
  z-index:1;
}

#osc2_qrg {
  position:relative;
  z-index:1;
}

#osc2_amp {
  position:relative;
  z-index:1;
}


#RB_RUN, #RB_RUN:hover {
  color: #31b44b;
}

#RB_STOP, #RB_STOP:hover {
  display: none;
  color: #ee3739;
}

#rb_trig_edge_img {
  margin: -2px 0 0;
}
